Options -Indexes
DirectoryIndex public/index.php

<IfModule mod_rewrite.c>
RewriteEngine On

# If request already points to public assets, keep it
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
